@charset "UTF-8";
.product_add{
    background-color: midnightblue;
    font-size: 30px;
    font-family: monospace;
}
.product_name{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.product_price{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.product_img{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:#fff;
}
img {
	max-width: 50%;
	height: auto;
	vertical-align: bottom;
    margin-top: 6rem;
}
input{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align:center;
    }
span{
    color: yellow;
}

/*モバイル対応*/
@media screen and (max-width: 599px){
    .product_add{
        background-color: midnightblue;
        font-size: 30px;
        font-family: monospace;
    }
    .product_name{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .product_price{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .product_img{
        background-color:#111;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 4rem;
}

img {
    width: 100% ;
    margin-top: 4rem;
}
input{
    margin-top: 0rem;
    margin-bottom: 3rem;
    text-align:center;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    }
    span{
        color: yellow;
    }
}


/*タブレット対応*/
@media screen and (min-width: 600px){
    .product_add{
        background-color: midnightblue;
        font-size: 35px;
        font-family: monospace;
    }
    .product_name{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
    
    }
    .product_price{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .product_img{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }



body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 4rem;
}
img {
    width: 100%;
    margin-top: 5rem;
}
input{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align:center;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    }
    span{
        color: yellow;
    }
}



/*PC対応*/
@media screen and (min-width: 1025px){
    .product_add{
        background-color: midnightblue;
        font-size: 55px;
        font-family: monospace;
    }
    .product_name{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
    .product_price{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
    
    }
    .product_img{
        background-color: #111;
        width: 50%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 7rem;
}
img {
    width: 100%;
    margin-top: 5rem;
}
input{
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align:center;
    margin: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    }
    span{
        color: yellow;
    }
}
