@charset "UTF-8";

html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}
.back{
    margin-top: 1rem;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow;
}



/*モバイル対応*/
@media screen and (max-width: 599px){

body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 0 #111;
    margin-top: 4rem;
}
.back{
    margin-top: 1rem;
}
a{
    color: yellow;
}
}

/*タブレット対応*/
@media screen and (min-width: 600px){

body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 25px;
        text-shadow: 2px 2px 0 #111;
        margin-top: 4rem;
}
img {
    width: 100% ;
}
input{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align:center;
    }
    a{
        color: yellow;
    }
    .back{
        margin-top: 1rem;
    }
}



/*PC対応*/
@media screen and (min-width: 1025px){

body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 2px 0 #111;
    margin-top: 7rem;
}
.back a{
    color: yellow;
}
.back{
    margin-top: 1rem;
}
}
