@charset "UTF-8";

html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    background-color: cornflowerblue;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow
}



/*モバイル対応*/
@media screen and (max-width: 599px){
body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 4rem;
}
}



/*タブレット対応*/
@media screen and (min-width: 600px){

body{
        background-color: cornflowerblue;
        text-align: center;
        font-size: 25px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 4rem;
}
}




/*PC対応*/
@media screen and (min-width: 1025px){

body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 45px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 7rem;
}
}