@charset "UTF-8";
.delete{
    background-color: midnightblue;
    font-size: 30px;
    font-family: monospace;
}
.code{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.name{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.delete_ok{
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:#fff;
}
img {
	max-width: 50%;
	height: auto;
	vertical-align: bottom;
}
input{
    text-align:center;
    margin: 10px;
    margin-top: 2rem;
    width: 10%;
    }


/*モバイル対応*/
@media screen and (max-width: 599px){
    .delete{
        background-color: midnightblue;
        font-size: 30px;
        font-family: monospace;
    }
    .code{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .name{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
    
    }
    
    .delete_ok{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 4rem;
}

img {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
input{
    text-align:center;
    margin: 10px;
    margin-top: 2rem;
    width: 10%;
    }
}




/*タブレット対応*/
@media screen and (min-width: 600px){
    .delete{
        background-color: midnightblue;
        font-size: 40px;
        font-family: monospace;
    }
    .code{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .name{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top:4rem;
        margin-bottom: 1rem;
    
    }
    
    .delete_ok{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
body{
        background-color: cornflowerblue;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 4rem;
}
img {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
input{
    text-align:center;
    margin: 10px;
    margin-top: 2rem;
    width: 10%;
    margin-bottom: 5rem;
    }
}



/*PC対応*/
@media screen and (min-width: 1025px){
    .delete{
        background-color: midnightblue;
        font-size: 50px;
        font-family: monospace;
    }
    .code{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    .name{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 7rem;
        margin-bottom: 1rem;
    
    }
    
    .delete_ok{
        background-color: #111;
        width: 70%;
        margin: auto;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 7rem;
}
img {
    width: 100% ;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
input{
    text-align:center;
    margin: 20px;
    width: 10%;
    margin-bottom: 5rem;
    }
}
