@charset "UTF-8";
.product{
    background-color: midnightblue;
    height:3rem;
}
.product_text{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.content{
    padding-top: 2rem;
}
.gazou{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.top{
    height: 3rem;
    padding: 1rem;
}
input{
    margin-bottom: 3rem;
    text-align: center;
    max-width: 100%;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*モバイル対応*/
@media screen and (max-width: 599px){
    .product{
        background-color: midnightblue;
        height:3rem;
        margin-bottom: 2rem;

    }
    .product_text{
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
    }
    .content{
        margin-bottom: 1rem;
        font-family: monospace;
        font-size: 20px;
    }
    .gazou{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .top{
        height: 3rem;
        padding: 1rem;
    }
body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}

img {
    width: 100% ;
}
input{
    margin: 5px;
}
a{
    color:yellow;
}
}


/*タブレット対応*/
@media screen and (min-width: 600px){
    .product{
        background-color: midnightblue;
        height:4rem;
        margin-bottom: 5rem;
    }
    .product_text{
        padding-top: 10px;
        font-size: 30px;
        font-weight: bold;
    }
    .content{
        margin-bottom: 2rem;
        font-family: monospace;
        font-size: 25px;
    }
    .gazou{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .top{
        height: 10rem;
        padding: 1rem;
    }

body{
        background-color: cornflowerblue;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 3rem;
}
img {
    width: 100% ;
}
input{
    margin: 5px;
}
a{
    color:yellow;
}
}



/*PC対応*/
@media screen and (min-width: 1025px){
    .product{
        background-color: midnightblue;
        height:5rem;
        margin-bottom: 5rem;
    }
    .product_text{
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
    }
    .content{
        margin-bottom: 2rem;
        font-family: monospace;
        font-size: 35px;
    }
    .gazou{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .top{
        height: 5rem;
        padding: 1rem;
    }

body{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}
img {
    width: 100% ;
}
input{
    margin: 10px;
}
a{
    color:yellow;
}
}