@charset "UTF-8";
.edit{
    background-color: midnightblue;
    height: 5rem;
    margin-bottom: 2rem;
    font-size: 50px;
    font-family: monospace;
}
.code{
    font-size: 25px;
    height: 3rem;
    font-weight: bold;
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 5px;
}
.name{
    font-size: 25px;
    height: 3rem;
    font-weight: bold;
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 5px;
}
.price{
    font-size: 25px;
    height: 3rem;
    font-weight: bold;
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding-top: 5px;
}
.gazou{
    font-size: 25px;
    height: 3rem;
    font-weight: bold;
    background-color: #111;
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 5px;
    margin-top: 2rem;
    padding-top: 5px;
}
.back{
    padding-bottom: 5rem;
}
.file{
    text-align: end;
}
input{
    margin-bottom: 3rem;
    text-align: center;
    max-width: 100%;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:#fff;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}






/*モバイル対応*/
@media screen and (max-width: 599px){
    .edit{
        background-color: midnightblue;
        height: 4rem;
        margin-bottom: 2rem;
        font-size: 35px;
        font-family: monospace;
        padding-top: 5px;
    }
    .code{
        font-size: 20px;
        height: 2rem;
        font-weight: bold;
        background-color: #111;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding-top:2px;
    }
    .name{
        font-size: 20px;
        height: 2rem;
        font-weight: bold;
        background-color: #111;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding-top:2px;
    }
    .price{
        font-size: 20px;
        height: 2rem;
        font-weight: bold;
        background-color: #111;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 4rem;
        padding-top:2px;
    }
    .gazou{
        font-size: 20px;
        height: 2rem;
        font-weight: bold;
        background-color: #111;
        width: 65%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 3rem;
        padding-top:2px;
    }
    .back{
        padding-bottom: 3rem;
    }
    .file{
        text-align: end;
    }

body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}

img {
    width: 40% ;
    margin-bottom: 1rem;
}
input{
    margin: 5px;
}
}




/*タブレット対応*/
@media screen and (min-width: 600px){
    .edit{
        background-color: midnightblue;
        height: 5rem;
        margin-bottom: 2rem;
        font-size: 50px;
        font-family: monospace;
    }
    .code{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 55%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .name{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 55%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    .price{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 55%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 6rem;
    }
    .gazou{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 55%;
        margin: auto;
        margin-bottom: 3rem;
        padding-top: 5px;
        margin-top: 6rem;
        }
    .back{
        padding-bottom: 5rem;
    }
    .file{
        text-align: end;
    }

body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 3rem;
}
img {
    width: 40% ;
    margin-bottom: 2rem;
}
input{
    margin: 5px;
}
}



/*PC対応*/
@media screen and (min-width: 1025px){
    .edit{
        background-color: midnightblue;
        height: 6rem;
        margin-bottom: 2rem;
        font-size: 55px;
        font-family: monospace;
        padding-top: 7px;
    }
    .code{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 40%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    .name{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 40%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    .price{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 40%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 7rem;
    }
    .gazou{
        font-size: 25px;
        height: 3rem;
        font-weight: bold;
        background-color: #111;
        width: 40%;
        margin: auto;
        margin-bottom: 3rem;
        padding-top: 5px;
        margin-top: 5rem;
    }
    .back{
        padding-bottom: 10rem;
    }

    .file{
        text-align: end;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}
img {
    width: 40% ;
    margin-bottom: 2rem;
}
input{
    margin: 10px;
}

}