@charset "UTF-8";
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
button{
    width:20%;
}

/*モバイル対応*/
@media screen and (max-width: 599px){

img {
    width: 100% ;
}
.login{
    width:100%;
    background-color: cornflowerblue;
}
.login_wrapper{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
}
.staff_login{
    text-align:center;
    margin-top: 2rem;
    padding-top: 0rem;
    background-color: midnightblue;
}

.bord{
    width: 64px;
    border: 1px solid #767676;
    margin: -45px auto 50px;
}
h1{
    color:#fff;
    text-shadow: 1px 1px 0 #111;
    padding-top: 1rem;
    font-family: monospace;
    font-size: 35px;
}
h3{
    font-size: 25px;
    text-align: center;
    color: #fff;
    padding-top: 0rem;
    text-shadow: 2px 2px 0 #111;
    background-color: #111;
    
}
input{
    text-align: center;
}
button{
    width: 25%;
    white-space: nowrap;
    margin-top: 3rem;
}
.container{
    text-align: center;
}
.staff_code{
    margin-top: 7rem;
    background-color: #111;
    margin-bottom: 2rem;
}
.staff_pass{
    margin-top: 3rem;
    background-color: #111;
    margin-bottom: 2rem;
}
}




/*タブレット対応*/
@media screen and (min-width: 600px){
    img {
        width: 100% ;
    }
    .login{
        width:100%;
        background-color: cornflowerblue;
    }
    .login_wrapper{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem
    ;
    }
    .staff_login{
        text-align:center;
        margin-top: 2rem;
        padding-top: 0rem;
        background-color: midnightblue;
    }
    
    .bord{
        width: 64px;
        border: 1px solid #767676;
        margin: -45px auto 50px;
    }
    h1{
        color:#fff;
        text-shadow: 1px 1px 0 #111;
        padding-top: 1rem;
        font-family: monospace;
        font-size: 45px;
    }
    h3{
        font-size: 30px;
        text-align: center;
        color: #fff;
        padding-top: 0rem;
        text-shadow: 2px 2px 0 #111;
    }
    button{
        width:20%;
        margin-top: 3rem;

    }
    input{
        text-align: center;
        width: 30%;
    }
    .container{
        text-align: center;
    }
    .staff_code{
        margin-top: 8rem;
        background-color: #111;
        margin-bottom: 2rem;
    }
    .staff_pass{
        margin-top: 3rem;
        background-color: #111;
        margin-bottom: 2rem;
    }
}




/*PC対応*/
@media screen and (min-width: 1025px){
    img {
        width: 100% ;
    }
    .login{
        width:100%;
        background-color: cornflowerblue;
    }
    .login_wrapper{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem
    ;
    }
    .staff_login{
        text-align:center;
        margin-top: 2rem;
        padding-top: 3rem;
        background-color: midnightblue;
    }
    
    .bord{
        width: 64px;
        border: 1px solid #767676;
        margin: -45px auto 50px;
    }
    h1{
        color:#fff;
        text-shadow: 1px 1px 0 #111;
        font-family: monospace;
        font-size:55px;
        padding-top: 1rem;
    }
    h3{
        font-size: 35px;
        text-align: center;
        color: #fff;
        padding-top: 0rem;
        text-shadow: 2px 2px 0 #111;
    }
    button{
        width:20%;
        margin-top: 3rem;
    }
    input{
        text-align: center;
        width: 30%;
    }
    .container{
        text-align: center;
    }
    .staff_code{
        width:70%;
        margin: auto;
        margin-top: 10rem;
        background-color: #111;
        margin-bottom: 2rem;
    }
    .staff_pass{
        width:70%;
        margin: auto;
        margin-top: 5rem;
        background-color: #111;
        margin-bottom: 2rem;
    }
    

}