@charset "UTF-8";
.staff_name{
    color:yellow;
}
.staff_info{
    margin-top:3rem;
    background-color: midnightblue;
    font-size: 35px;
}
.staff_code{
    background-color: #111;
    margin-bottom: 3rem;
}
.staff_name2{
    background-color: #111;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
input{
    margin-bottom: 3rem;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*モバイル対応*/
@media screen and (max-width: 599px){
    .staff_name{
        color:yellow;
    }
    .staff_info{
        margin-top:3rem;
        background-color: midnightblue;
        font-size: 35px;
    }
    .staff_code{
        background-color: #111;
        width:35%;
        margin:auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
    .staff_name2{
        background-color: #111;
        width:35%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}

img {
    width: 100% ;
}

}


/*タブレット対応*/
@media screen and (min-width: 600px){
    .staff_name{
        color:yellow;
    }
    .staff_info{
        margin-top:3rem;
        background-color: midnightblue;
        font-size: 40px;
    }
    .staff_code{
        background-color: #111;
        width: 35%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .staff_name2{
        background-color: #111;
        width: 35%;
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 3rem;
}
img {
    width: 100% ;
}

}



/*PC対応*/
@media screen and (min-width: 1025px){
    .staff_name{
        color:yellow;
    }
    .staff_info{
        margin-top:3rem;
        background-color: midnightblue;
        font-size: 50px;
    }
    .staff_code{
        background-color: #111;
        width: 35%;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
    .staff_name2{
        background-color: #111;
        width: 35%;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}
img {
    width: 100% ;
}

}