@charset "UTF-8";
.staff_name{
    color: yellow;
}
.staff_edit{
    margin-top: 2rem;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*モバイル対応*/
@media screen and (max-width: 599px){
    .staff_name{
        color: yellow;
    }
    .staff_edit{
    margin-top: 2rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    padding: 3rem;
}

img {
    width: 100% ;
}

}


/*タブレット対応*/
@media screen and (min-width: 600px){
    .staff_name{
        color: yellow;
    }
    .staff_edit{
        margin-top: 2rem;
    }
body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 25px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 6rem;
}
img {
    width: 100% ;
}

}



/*PC対応*/
@media screen and (min-width: 1025px){
    .staff_name{
        color: yellow;
    }
    .staff_edit{
        margin-top: 4rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 6rem;
}
img {
    width: 100% ;
}

}