@charset "UTF-8";

.staff_add{
    background-color: midnightblue;
}
.staff_name{
    background-color: #111;
    color:#fff;
}
.staff_pass{
    background-color: #111;
    color:#fff;
}
.staff_pass2{
    background-color: #111;
    color:#fff;
}
input{
    margin-bottom: 3rem;
    text-align: center;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a{
    color:yellow;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*モバイル対応*/
@media screen and (max-width: 599px){
    .staff_add{
        background-color: midnightblue;
        font-size:35px;
        
    }
    .staff_name{
        background-color: #111;
        color:#fff;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .staff_pass{
        background-color: #111;
        color:#fff;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
    .staff_pass2{
        background-color: #111;
        color:#fff;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}

img {
    width: 100% ;
}

}


/*タブレット対応*/
@media screen and (min-width: 600px){
    .staff_add{
        background-color: midnightblue;
        width:100%;
        font-size:40px;
        margin: auto;
    }
    .staff_name{
        background-color: #111;
        color:#fff;
        width:65%;
        margin: auto;
        margin-top: 2rem;
    }
    .staff_pass{
        background-color: #111;
        color:#fff;
        width:65%;
        margin: auto;
    }
    .staff_pass2{
        background-color: #111;
        color:#fff;
        width:65%;
        margin: auto;
    }
body{
        background-color: cornflowerblue;
        color:#fff;
        text-align: center;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 #111;
        margin-top: 3rem;
}
img {
    width: 100% ;
}

}



/*PC対応*/
@media screen and (min-width: 1025px){
    .staff_add{
        background-color: midnightblue;
        width:100%;
        font-size: 50px;
    }
    .staff_name{
        background-color: #111;
        color:#fff;
        width: 60%;
        margin-top: 4rem;
    }
    .staff_pass{
        background-color: #111;
        color:#fff;
        width:60%;
        margin-top: 5rem;
    }
    .staff_pass2{
        background-color: #111;
        color:#fff;
        width:60%;
        margin-top: 5rem;
    }
body{
    background-color: cornflowerblue;
    color:#fff;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 0 #111;
    margin-top: 3rem;
}
img {
    width: 100% ;
}

}