@charset "UTF-8";
.staff_name{
    color:yellow;
}
html{
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
	-webkit-font-feature-settings: 'palt';
	font-feature-settings: 'palt';
    -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    background-color: cornflowerblue;
    text-align: center;
    margin-top: 3rem;
    color:#fff;
    text-shadow: 2px 2px 0px #111;
}
body #text{
    color:#111;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*モバイル対応*/
@media screen and (max-width: 599px){

body{
    font-size: 25px;
}
a{
    color: #fff;
}
img {
    width: 100% ;
}
.title{
    margin-top: 4rem;
    background-color: midnightblue;;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.bord{
    width: 64px;
    border: 1px solid #fff;
    margin: -45px auto 50px;
}

}

/*タブレット対応*/
@media screen and (min-width: 600px){
    body{
        font-size: 25px;
    }
    a{
        color:#fff;
    }
    img {
        width: 100% ;
    }    
    .title{
        margin-top: 4rem;
        background-color: midnightblue;;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    .bord{
        width: 64px;
        border: 1px solid #fff;
        margin: -45px auto 50px;
    }
}

/*PC対応*/
@media screen and (min-width: 1025px){
    body{
        font-size:25px;
    }
    a{
        color:#fff;
    }
    img {
        width: 100% ;
    }
    .title{
        margin-top: 4rem;
        background-color: midnightblue;;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    .bord{
        width: 64px;
        border: 1px solid #fff;
        margin: -45px auto 50px;
    }

}